@model SchoolManagementSystem.Models.SchoolDetailsViewModel

@{
    ViewData["Title"] = "Delete";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1>Delete</h1>

<h3>Are you sure you want to delete this?</h3>
<div>
    <h4>SchoolDetailsViewModel</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.SchoolId)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.SchoolId)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.SchoolName)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.SchoolName)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Country)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Country)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.CommunicationLanguage)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.CommunicationLanguage)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.User)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.User)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Program)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Program)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.AssessmentPeriod)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.AssessmentPeriod)
        </dd>
    </dl>
    
    <form asp-action="Delete">
        <input type="submit" value="Delete" class="btn btn-danger" /> |
        <a asp-action="Index">Back to List</a>
    </form>
</div>
